
{% extends 'ledger/base_ledger.html' %}
{% load static %}


{% block title %}Recipe 


{% endblock %}





{% block content %}
{{ block.super }}
{{ recipe.name }}
{{ recipe.author.name }}
    {% if object.recipe_image %}
        <img src="{{ object.recipe_image.url }}" alt="">
    {% endif %}
    <ul>
        {% for ingredient in ingredients %}
        <li> {{ ingredient.num_ingredients }} {{ ingredient.name_ingredient.name }} </li>
        {% endfor %}
    </ul>
    <a href="{% url 'ledger:recipe' pk=recipe.pk %}">
                <button type="button">View Recipe</button>
    </a>  <br>
{% endblock %}

